html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
.img-circle {
    border: 3px solid white;
    border-radius: 100%;
}
.section {
    margin: 10%;
    margin-top: 0;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#header {
    background-image: url("images\background01.jpg");
    background-size: cover;
}
.backgroundIMG {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 15%, #1fc8db 51%, #2cb5e8 75%);
    opacity: 0.95;
}
#header img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#diary-header{
    background-image: url("images\background01.jpg");
    background-size: cover;
}
#diary-header img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
}
#diary-header p {
    font-size: 20pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
input[type=text], input[type=password], input[type=date], select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #72E89F;
    border-radius: 4px;
    box-sizing: border-box;
    }
  
  input[type=submit] {
    width: 100%;
    background-color: #B3FF8A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
  input[type=submit]:hover {
    background-color: #72E89F;
    }
    #settings{
        margin: 10%;
        margin-top: 0;
        margin-bottom: 0;
        padding: 15px;
    }



